<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube to MP3 Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magic/1.1.0/magic.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container magic animate__animated animate__fadeInUp">
        <h1 class="title">YouTube to MP3 Converter</h1>
        <form id="convert-form" action="/download" method="post">
            <div class="input-group">
                <input type="text" name="url" id="url" placeholder="Enter YouTube URL" required>
                <select name="quality" id="quality" required>
                    <option value="192">192 kbps</option>
                    <option value="256">256 kbps</option>
                    <option value="320">320 kbps</option>
                </select>
                <button type="submit" class="btn"><i class="fas fa-download"></i> Convert</button>
            </div>
            <div id="thumbnail-container">
                <img id="thumbnail" src="" alt="Video Thumbnail" class="hidden">
            </div>
        </form>
        <div id="message"></div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
